.elementor-kit-9 {
  --e-global-color-primary: #020202;
  --e-global-color-secondary: #799CFF;
  --e-global-color-text: #858585;
  --e-global-color-accent: #8e36e6;
  --e-global-color-d3711fc: #CBB8E4;
  --e-global-color-2497f90: #FFBA59;
  --e-global-color-cff7b87: #C2C2C2;
  --e-global-color-11202bf: #E7E7E7;
  --e-global-color-52bcf91: #F3F3F3;
  --e-global-color-e403fb4: #161616;
  --e-global-color-775f678: #FFFFFF;
  --e-global-color-d5b711c: #FFFFFF00;
  --e-global-color-1cedda2: #FFF2AC;
  --e-global-typography-primary-font-family: "Roboto";
  --e-global-typography-primary-font-weight: 600;
  --e-global-typography-secondary-font-family: "Roboto Slab";
  --e-global-typography-secondary-font-weight: 400;
  --e-global-typography-text-font-family: "Roboto";
  --e-global-typography-text-font-weight: 400;
  --e-global-typography-accent-font-family: "Roboto";
  --e-global-typography-accent-font-weight: 500;
  --e-global-typography-98893c3-font-family: "Inter";
  --e-global-typography-98893c3-font-size: 4rem;
  --e-global-typography-98893c3-font-weight: 500;
  --e-global-typography-98893c3-line-height: 1.4em;
  --e-global-typography-98893c3-letter-spacing: -0.05em;
  --e-global-typography-a5546e6-font-family: "Inter";
  --e-global-typography-a5546e6-font-size: 3rem;
  --e-global-typography-a5546e6-font-weight: 400;
  --e-global-typography-a5546e6-line-height: 1.4em;
  --e-global-typography-a5546e6-letter-spacing: -0.05em;
  --e-global-typography-a001a17-font-family: "Inter";
  --e-global-typography-a001a17-font-size: 2.5rem;
  --e-global-typography-a001a17-font-weight: 400;
  --e-global-typography-a001a17-line-height: 1.4em;
  --e-global-typography-a001a17-letter-spacing: -0.05em;
  --e-global-typography-7917661-font-family: "Inter";
  --e-global-typography-7917661-font-size: 2.25rem;
  --e-global-typography-7917661-font-weight: 500;
  --e-global-typography-7917661-line-height: 1.4em;
  --e-global-typography-7917661-letter-spacing: -0.05em;
  --e-global-typography-7df69b5-font-family: "Inter";
  --e-global-typography-7df69b5-font-size: 2rem;
  --e-global-typography-7df69b5-font-weight: 500;
  --e-global-typography-7df69b5-line-height: 1.4em;
  --e-global-typography-7df69b5-letter-spacing: -0.05em;
  --e-global-typography-4d1c053-font-family: "Inter";
  --e-global-typography-4d1c053-font-size: 1.5rem;
  --e-global-typography-4d1c053-font-weight: 500;
  --e-global-typography-4d1c053-line-height: 1.4em;
  --e-global-typography-4d1c053-letter-spacing: -0.05em;
  --e-global-typography-8d2d590-font-family: "Inter";
  --e-global-typography-8d2d590-font-size: 0.875rem;
  --e-global-typography-8d2d590-font-weight: 500;
  --e-global-typography-8d2d590-text-transform: uppercase;
  --e-global-typography-8d2d590-line-height: 1em;
  --e-global-typography-8d2d590-letter-spacing: -0.05em;
  --e-global-typography-4254661-font-family: "Inter";
  --e-global-typography-4254661-font-size: 1.125rem;
  --e-global-typography-4254661-font-weight: 400;
  --e-global-typography-4254661-line-height: 1.6em;
  --e-global-typography-4254661-letter-spacing: -0.05em;
  --e-global-typography-12b37aa-font-family: "Inter";
  --e-global-typography-12b37aa-font-size: 1rem;
  --e-global-typography-12b37aa-font-weight: 400;
  --e-global-typography-12b37aa-line-height: 1.5em;
  --e-global-typography-12b37aa-letter-spacing: -0.05em;
  --e-global-typography-c7b9b8c-font-family: "Inter";
  --e-global-typography-c7b9b8c-font-size: 0.875rem;
  --e-global-typography-c7b9b8c-font-weight: 400;
  --e-global-typography-c7b9b8c-line-height: 1.6em;
  --e-global-typography-c7b9b8c-letter-spacing: -0.05em;
  --e-global-typography-14f3c2f-font-family: "Inter";
  --e-global-typography-14f3c2f-font-size: 1.25rem;
  --e-global-typography-14f3c2f-font-weight: 400;
  --e-global-typography-14f3c2f-line-height: 1.6em;
  --e-global-typography-14f3c2f-letter-spacing: -0.05em;
  --e-global-typography-bef40c3-font-family: "Inter";
  --e-global-typography-bef40c3-font-size: 0.75rem;
  --e-global-typography-bef40c3-font-weight: 400;
  --e-global-typography-bef40c3-line-height: 1.4em;
  --e-global-typography-bef40c3-letter-spacing: -0.05em;
  --e-global-typography-e61f3be-font-family: "Inter";
  --e-global-typography-e61f3be-font-size: 0.875rem;
  --e-global-typography-e61f3be-font-weight: 400;
  --e-global-typography-e61f3be-letter-spacing: -0.05em;
  --e-global-typography-2c2b559-font-family: "Inter";
  --e-global-typography-2c2b559-font-size: 1rem;
  --e-global-typography-2c2b559-font-weight: 500;
  --e-global-typography-2c2b559-line-height: 1em;
  --e-global-typography-2c2b559-letter-spacing: -0.05em;
  color: var(--e-global-color-text);
  font-family: var(--e-global-typography-4254661-font-family), Sans-serif;
  font-size: var(--e-global-typography-4254661-font-size);
  font-weight: var(--e-global-typography-4254661-font-weight);
  line-height: var(--e-global-typography-4254661-line-height);
  letter-spacing: var(--e-global-typography-4254661-letter-spacing);
}

.elementor-kit-9 button,
.elementor-kit-9 input[type="button"],
.elementor-kit-9 input[type="submit"],
.elementor-kit-9 .elementor-button {
  background-color: var(--e-global-color-accent);
  color: var(--e-global-color-775f678);
}

.elementor-kit-9 button:hover,
.elementor-kit-9 button:focus,
.elementor-kit-9 input[type="button"]:hover,
.elementor-kit-9 input[type="button"]:focus,
.elementor-kit-9 input[type="submit"]:hover,
.elementor-kit-9 input[type="submit"]:focus,
.elementor-kit-9 .elementor-button:hover,
.elementor-kit-9 .elementor-button:focus {
  background-color: var(--e-global-color-775f678);
  color: var(--e-global-color-primary);
}

.elementor-kit-9 e-page-transition {
  background-color: #FFBC7D;
}

.elementor-kit-9 a {
  color: var(--e-global-color-accent);
}

.elementor-kit-9 h1 {
  color: var(--e-global-color-primary);
  font-family: var(--e-global-typography-98893c3-font-family), Sans-serif;
  font-size: var(--e-global-typography-98893c3-font-size);
  font-weight: var(--e-global-typography-98893c3-font-weight);
  line-height: var(--e-global-typography-98893c3-line-height);
  letter-spacing: var(--e-global-typography-98893c3-letter-spacing);
}

.elementor-kit-9 h2 {
  color: var(--e-global-color-primary);
  font-family: var(--e-global-typography-7917661-font-family), Sans-serif;
  font-size: var(--e-global-typography-7917661-font-size);
  font-weight: var(--e-global-typography-7917661-font-weight);
  line-height: var(--e-global-typography-7917661-line-height);
  letter-spacing: var(--e-global-typography-7917661-letter-spacing);
}

.elementor-kit-9 h3 {
  color: var(--e-global-color-primary);
  font-family: var(--e-global-typography-14f3c2f-font-family), Sans-serif;
  font-size: var(--e-global-typography-14f3c2f-font-size);
  font-weight: var(--e-global-typography-14f3c2f-font-weight);
  line-height: var(--e-global-typography-14f3c2f-line-height);
  letter-spacing: var(--e-global-typography-14f3c2f-letter-spacing);
}

.elementor-kit-9 h4 {
  color: var(--e-global-color-primary);
  font-family: var(--e-global-typography-7917661-font-family), Sans-serif;
  font-size: var(--e-global-typography-7917661-font-size);
  font-weight: var(--e-global-typography-7917661-font-weight);
  line-height: var(--e-global-typography-7917661-line-height);
  letter-spacing: var(--e-global-typography-7917661-letter-spacing);
}

.elementor-kit-9 h5 {
  color: var(--e-global-color-primary);
  font-family: var(--e-global-typography-7df69b5-font-family), Sans-serif;
  font-size: var(--e-global-typography-7df69b5-font-size);
  font-weight: var(--e-global-typography-7df69b5-font-weight);
  line-height: var(--e-global-typography-7df69b5-line-height);
  letter-spacing: var(--e-global-typography-7df69b5-letter-spacing);
}

.elementor-kit-9 h6 {
  color: var(--e-global-color-primary);
  font-family: var(--e-global-typography-4d1c053-font-family), Sans-serif;
  font-size: var(--e-global-typography-4d1c053-font-size);
  font-weight: var(--e-global-typography-4d1c053-font-weight);
  line-height: var(--e-global-typography-4d1c053-line-height);
  letter-spacing: var(--e-global-typography-4d1c053-letter-spacing);
}

.elementor-section.elementor-section-boxed>.elementor-container {
  max-width: 1140px;
}

.e-con {
  --container-max-width: 1140px;
}

.elementor-widget:not(:last-child) {
  margin-block-end: 20px;
}

.elementor-element {
  --widgets-spacing: 20px 20px;
}

  {}

h1.entry-title {
  display: var(--page-title-display);
}

.site-header .site-branding {
  flex-direction: column;
  align-items: stretch;
}

.site-header {
  padding-inline-end: 0px;
  padding-inline-start: 0px;
}

.site-footer .site-branding {
  flex-direction: column;
  align-items: stretch;
}

@media(max-width:1024px) {
  .elementor-kit-9 {
    --e-global-typography-98893c3-font-size: 3.5rem;
    --e-global-typography-a5546e6-font-size: 2.75rem;
    --e-global-typography-a001a17-font-size: 2.25rem;
    --e-global-typography-7917661-font-size: 2rem;
    --e-global-typography-7df69b5-font-size: 1.75rem;
    --e-global-typography-4d1c053-font-size: 1.25rem;
    --e-global-typography-4254661-font-size: 1rem;
    --e-global-typography-12b37aa-font-size: 0.875rem;
    --e-global-typography-c7b9b8c-font-size: 0.75rem;
    --e-global-typography-14f3c2f-font-size: 1rem;
    --e-global-typography-bef40c3-font-size: 0.687rem;
    font-size: var(--e-global-typography-4254661-font-size);
    line-height: var(--e-global-typography-4254661-line-height);
    letter-spacing: var(--e-global-typography-4254661-letter-spacing);
  }

  .elementor-kit-9 h1 {
    font-size: var(--e-global-typography-98893c3-font-size);
    line-height: var(--e-global-typography-98893c3-line-height);
    letter-spacing: var(--e-global-typography-98893c3-letter-spacing);
  }

  .elementor-kit-9 h2 {
    font-size: var(--e-global-typography-7917661-font-size);
    line-height: var(--e-global-typography-7917661-line-height);
    letter-spacing: var(--e-global-typography-7917661-letter-spacing);
  }

  .elementor-kit-9 h3 {
    font-size: var(--e-global-typography-14f3c2f-font-size);
    line-height: var(--e-global-typography-14f3c2f-line-height);
    letter-spacing: var(--e-global-typography-14f3c2f-letter-spacing);
  }

  .elementor-kit-9 h4 {
    font-size: var(--e-global-typography-7917661-font-size);
    line-height: var(--e-global-typography-7917661-line-height);
    letter-spacing: var(--e-global-typography-7917661-letter-spacing);
  }

  .elementor-kit-9 h5 {
    font-size: var(--e-global-typography-7df69b5-font-size);
    line-height: var(--e-global-typography-7df69b5-line-height);
    letter-spacing: var(--e-global-typography-7df69b5-letter-spacing);
  }

  .elementor-kit-9 h6 {
    font-size: var(--e-global-typography-4d1c053-font-size);
    line-height: var(--e-global-typography-4d1c053-line-height);
    letter-spacing: var(--e-global-typography-4d1c053-letter-spacing);
  }

  .elementor-section.elementor-section-boxed>.elementor-container {
    max-width: 1024px;
  }

  .e-con {
    --container-max-width: 1024px;
  }
}

@media(max-width:767px) {
  .elementor-kit-9 {
    --e-global-typography-98893c3-font-size: 2.8rem;
    font-size: var(--e-global-typography-4254661-font-size);
    line-height: var(--e-global-typography-4254661-line-height);
    letter-spacing: var(--e-global-typography-4254661-letter-spacing);
  }

  .elementor-kit-9 h1 {
    font-size: var(--e-global-typography-98893c3-font-size);
    line-height: var(--e-global-typography-98893c3-line-height);
    letter-spacing: var(--e-global-typography-98893c3-letter-spacing);
  }

  .elementor-kit-9 h2 {
    font-size: var(--e-global-typography-7917661-font-size);
    line-height: var(--e-global-typography-7917661-line-height);
    letter-spacing: var(--e-global-typography-7917661-letter-spacing);
  }

  .elementor-kit-9 h3 {
    font-size: var(--e-global-typography-14f3c2f-font-size);
    line-height: var(--e-global-typography-14f3c2f-line-height);
    letter-spacing: var(--e-global-typography-14f3c2f-letter-spacing);
  }

  .elementor-kit-9 h4 {
    font-size: var(--e-global-typography-7917661-font-size);
    line-height: var(--e-global-typography-7917661-line-height);
    letter-spacing: var(--e-global-typography-7917661-letter-spacing);
  }

  .elementor-kit-9 h5 {
    font-size: var(--e-global-typography-7df69b5-font-size);
    line-height: var(--e-global-typography-7df69b5-line-height);
    letter-spacing: var(--e-global-typography-7df69b5-letter-spacing);
  }

  .elementor-kit-9 h6 {
    font-size: var(--e-global-typography-4d1c053-font-size);
    line-height: var(--e-global-typography-4d1c053-line-height);
    letter-spacing: var(--e-global-typography-4d1c053-letter-spacing);
  }

  .elementor-section.elementor-section-boxed>.elementor-container {
    max-width: 767px;
  }

  .e-con {
    --container-max-width: 767px;
  }
}