.elementor-163 .elementor-element.elementor-element-62e1ea8 {
	--display: flex;
	--flex-direction: row;
	--container-widget-width: initial;
	--container-widget-height: 100%;
	--container-widget-flex-grow: 1;
	--container-widget-align-self: stretch;
	--flex-wrap-mobile: wrap;
	--background-transition: 0.3s;
	--margin-top: 0px;
	--margin-bottom: -50px;
	--margin-left: 0px;
	--margin-right: 0px;
	--padding-top: 80px;
	--padding-bottom: 0px;
	--padding-left: 0px;
	--padding-right: 0px;
	--z-index: 2;
}

.elementor-163 .elementor-element.elementor-element-78ecc931 {
	--display: flex;
	--flex-direction: row;
	--container-widget-width: initial;
	--container-widget-height: 100%;
	--container-widget-flex-grow: 1;
	--container-widget-align-self: stretch;
	--flex-wrap-mobile: wrap;
	--background-transition: 0.3s;
	--border-radius: 30px 30px 30px 30px;
	--padding-top: 30px;
	--padding-bottom: 30px;
	--padding-left: 30px;
	--padding-right: 30px;
}

.elementor-163 .elementor-element.elementor-element-78ecc931:not(.elementor-motion-effects-element-type-background),
.elementor-163 .elementor-element.elementor-element-78ecc931>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-color: transparent;
	background-image: linear-gradient(215deg, var(--e-global-color-d63c272) 0%, var(--e-global-color-3739bad) 100%);
}

.elementor-163 .elementor-element.elementor-element-78ecc931,
.elementor-163 .elementor-element.elementor-element-78ecc931::before {
	--border-transition: 0.3s;
}

.elementor-163 .elementor-element.elementor-element-3855c35f {
	--display: flex;
	--background-transition: 0.3s;
	--padding-top: 0px;
	--padding-bottom: 0px;
	--padding-left: 0px;
	--padding-right: 0px;
}

.elementor-163 .elementor-element.elementor-element-39961b27>.elementor-widget-container {
	margin: 0px 27px 0px 0px;
}

.elementor-163 .elementor-element.elementor-element-39961b27 {
	text-align: left;
}

.elementor-163 .elementor-element.elementor-element-39961b27 .elementor-heading-title {
	color: #FFFFFF;
}

.elementor-163 .elementor-element.elementor-element-7e4ecba0 {
	--display: flex;
	--justify-content: center;
	--background-transition: 0.3s;
	--padding-top: 0px;
	--padding-bottom: 0px;
	--padding-left: 0px;
	--padding-right: 0px;
}

.elementor-163 .elementor-element.elementor-element-046670c .pt_plus_button.button-style-2 .button-link-wrap i,
.elementor-163 .elementor-element.elementor-element-046670c .pt_plus_button.button-style-3 a.button-link-wrap:before,
.elementor-163 .elementor-element.elementor-element-046670c .pt_plus_button.button-style-4 .button-link-wrap,
.elementor-163 .elementor-element.elementor-element-046670c .pt_plus_button.button-style-5 .button-link-wrap,
.elementor-163 .elementor-element.elementor-element-046670c .pt_plus_button.button-style-8 .button-link-wrap,
.elementor-163 .elementor-element.elementor-element-046670c .pt_plus_button.button-style-10 .button-link-wrap,
.elementor-163 .elementor-element.elementor-element-046670c .pt_plus_button.button-style-11 .button-link-wrap,
.elementor-163 .elementor-element.elementor-element-046670c .pt_plus_button.button-style-14 .button-link-wrap,
.elementor-163 .elementor-element.elementor-element-046670c .pt_plus_button.button-style-15 .button-link-wrap::before,
.elementor-163 .elementor-element.elementor-element-046670c .pt_plus_button.button-style-15 .button-link-wrap::after,
.elementor-163 .elementor-element.elementor-element-046670c .pt_plus_button.button-style-16 .button-link-wrap::after,
.elementor-163 .elementor-element.elementor-element-046670c .pt_plus_button.button-style-17 .button-link-wrap,
.elementor-163 .elementor-element.elementor-element-046670c .pt_plus_button.button-style-18 .button-link-wrap::after,
.elementor-163 .elementor-element.elementor-element-046670c .pt_plus_button.button-style-19 .button-link-wrap,
.elementor-163 .elementor-element.elementor-element-046670c .pt_plus_button.button-style-20 .button-link-wrap,
.elementor-163 .elementor-element.elementor-element-046670c .pt_plus_button.button-style-21 .button-link-wrap,
.elementor-163 .elementor-element.elementor-element-046670c .pt_plus_button.button-style-22 .button-link-wrap,
.elementor-163 .elementor-element.elementor-element-046670c .pt_plus_button.button-style-24 .button-link-wrap {
	background-color: #FFFFFF;
}

.elementor-163 .elementor-element.elementor-element-046670c .pt_plus_button.button-style-2 .button-link-wrap:hover i,
.elementor-163 .elementor-element.elementor-element-046670c .pt_plus_button.button-style-3 .button-link-wrap:hover:before,
.elementor-163 .elementor-element.elementor-element-046670c .pt_plus_button.button-style-4 .button-link-wrap::after,
.elementor-163 .elementor-element.elementor-element-046670c .pt_plus_button.button-style-5 .button-link-wrap:hover,
.elementor-163 .elementor-element.elementor-element-046670c .pt_plus_button.button-style-5 .button-link-wrap:before,
.elementor-163 .elementor-element.elementor-element-046670c .pt_plus_button.button-style-5 .button-link-wrap:after,
.elementor-163 .elementor-element.elementor-element-046670c .pt_plus_button.button-style-8 .button-link-wrap:hover,
.elementor-163 .elementor-element.elementor-element-046670c .pt_plus_button.button-style-10 .button-link-wrap:hover,
.elementor-163 .elementor-element.elementor-element-046670c .pt_plus_button.button-style-11 .button-link-wrap::before,
.elementor-163 .elementor-element.elementor-element-046670c .pt_plus_button.button-style-12 .button-link-wrap::before,
.elementor-163 .elementor-element.elementor-element-046670c .pt_plus_button.button-style-13 .button-link-wrap::before,
.elementor-163 .elementor-element.elementor-element-046670c .pt_plus_button.button-style-13 .button-link-wrap::after,
.elementor-163 .elementor-element.elementor-element-046670c .pt_plus_button.button-style-14 .button-link-wrap:hover,
.elementor-163 .elementor-element.elementor-element-046670c .pt_plus_button.button-style-15 .button-link-wrap:hover::after,
.elementor-163 .elementor-element.elementor-element-046670c .pt_plus_button.button-style-16 .button-link-wrap::before,
.elementor-163 .elementor-element.elementor-element-046670c .pt_plus_button.button-style-17 .button-link-wrap::before,
.elementor-163 .elementor-element.elementor-element-046670c .pt_plus_button.button-style-18 .button-link-wrap:hover::after,
.elementor-163 .elementor-element.elementor-element-046670c .pt_plus_button.button-style-19 .button-link-wrap:after,
.elementor-163 .elementor-element.elementor-element-046670c .pt_plus_button.button-style-20 .button-link-wrap:after,
.elementor-163 .elementor-element.elementor-element-046670c .pt_plus_button.button-style-21 .button-link-wrap:after,
.elementor-163 .elementor-element.elementor-element-046670c .pt_plus_button.button-style-22 .button-link-wrap:hover,
.elementor-163 .elementor-element.elementor-element-046670c .pt_plus_button.button-style-24 .button-link-wrap:hover {
	background-color: transparent;
	background-image: linear-gradient(180deg, var(--e-global-color-d6855dd) 0%, var(--e-global-color-d6855dd) 100%);
}

.elementor-163 .elementor-element.elementor-element-046670c .button-link-wrap .button-after {
	margin-left: 2px;
}

.elementor-163 .elementor-element.elementor-element-046670c .button-link-wrap .button-before {
	margin-right: 2px;
}

.elementor-163 .elementor-element.elementor-element-046670c .pt_plus_button.button-style-22 .button-link-wrap .btn-icon.button-before {
	padding-left: 2px;
}

.elementor-163 .elementor-element.elementor-element-046670c .pt_plus_button.button-style-22 .button-link-wrap .btn-icon.button-after {
	padding-right: 2px;
}

.elementor-163 .elementor-element.elementor-element-046670c .button-link-wrap .btn-icon {
	font-size: 18px;
}

.elementor-163 .elementor-element.elementor-element-046670c .button-link-wrap .btn-icon svg {
	width: 18px;
	height: 18px;
}

.elementor-163 .elementor-element.elementor-element-046670c .pt_plus_button:not(.button-style-11):not(.button-style-17) .button-link-wrap,
.elementor-163 .elementor-element.elementor-element-046670c .pt_plus_button.button-style-11 .button-link-wrap>span,
.elementor-163 .elementor-element.elementor-element-046670c .pt_plus_button.button-style-11 .button-link-wrap::before,
.elementor-163 .elementor-element.elementor-element-046670c .pt_plus_button.button-style-17 .button-link-wrap>span {
	margin: 0px 0px 0px 0px;
}

.elementor-163 .elementor-element.elementor-element-046670c .pt_plus_button:not(.button-style-11):not(.button-style-17) .button-link-wrap,
.elementor-163 .elementor-element.elementor-element-046670c .pt_plus_button.button-style-11 .button-link-wrap>span,
.elementor-163 .elementor-element.elementor-element-046670c .pt_plus_button.button-style-11 .button-link-wrap::before,
.elementor-163 .elementor-element.elementor-element-046670c .pt_plus_button.button-style-17 .button-link-wrap>span {
	padding: 15px 30px 15px 30px;
}

.elementor-163 .elementor-element.elementor-element-046670c .pt_plus_button .button-link-wrap {
	color: #000000;
}

.elementor-163 .elementor-element.elementor-element-046670c .pt_plus_button .button-link-wrap svg {
	fill: #000000;
}

.elementor-163 .elementor-element.elementor-element-046670c .pt_plus_button.button-style-3 .button-link-wrap .arrow * {
	fill: #000000;
	stroke: #000000;
}

.elementor-163 .elementor-element.elementor-element-046670c .pt_plus_button.button-style-7 .button-link-wrap:after {
	border-color: #000000;
}

.elementor-163 .elementor-element.elementor-element-046670c .pt_plus_button.button-style-4 .button-link-wrap,
.elementor-163 .elementor-element.elementor-element-046670c .pt_plus_button.button-style-5 .button-link-wrap,
.elementor-163 .elementor-element.elementor-element-046670c .pt_plus_button.button-style-8 .button-link-wrap,
.elementor-163 .elementor-element.elementor-element-046670c .pt_plus_button.button-style-10 .button-link-wrap,
.elementor-163 .elementor-element.elementor-element-046670c .pt_plus_button.button-style-11 .button-link-wrap,
.elementor-163 .elementor-element.elementor-element-046670c .pt_plus_button.button-style-12 .button-link-wrap,
.elementor-163 .elementor-element.elementor-element-046670c .pt_plus_button.button-style-13 .button-link-wrap,
.elementor-163 .elementor-element.elementor-element-046670c .pt_plus_button.button-style-14 .button-link-wrap,
.elementor-163 .elementor-element.elementor-element-046670c .pt_plus_button.button-style-16 .button-link-wrap,
.elementor-163 .elementor-element.elementor-element-046670c .pt_plus_button.button-style-17 .button-link-wrap,
.elementor-163 .elementor-element.elementor-element-046670c .pt_plus_button.button-style-19 .button-link-wrap,
.elementor-163 .elementor-element.elementor-element-046670c .pt_plus_button.button-style-20 .button-link-wrap,
.elementor-163 .elementor-element.elementor-element-046670c .pt_plus_button.button-style-21 .button-link-wrap,
.elementor-163 .elementor-element.elementor-element-046670c .pt_plus_button.button-style-22 .button-link-wrap,
.elementor-163 .elementor-element.elementor-element-046670c .pt_plus_button.button-style-24 .button-link-wrap {
	border-style: none;
}

.elementor-163 .elementor-element.elementor-element-046670c .pt_plus_button.button-style-4 .button-link-wrap,
.elementor-163 .elementor-element.elementor-element-046670c .pt_plus_button.button-style-8 .button-link-wrap,
.elementor-163 .elementor-element.elementor-element-046670c .pt_plus_button.button-style-10 .button-link-wrap,
.elementor-163 .elementor-element.elementor-element-046670c .pt_plus_button.button-style-11 .button-link-wrap,
.elementor-163 .elementor-element.elementor-element-046670c .pt_plus_button.button-style-12 .button-link-wrap,
.elementor-163 .elementor-element.elementor-element-046670c .pt_plus_button.button-style-13 .button-link-wrap,
.elementor-163 .elementor-element.elementor-element-046670c .pt_plus_button.button-style-14 .button-link-wrap,
.elementor-163 .elementor-element.elementor-element-046670c .pt_plus_button.button-style-16 .button-link-wrap,
.elementor-163 .elementor-element.elementor-element-046670c .pt_plus_button.button-style-17 .button-link-wrap,
.elementor-163 .elementor-element.elementor-element-046670c .pt_plus_button.button-style-18 .button-link-wrap,
.elementor-163 .elementor-element.elementor-element-046670c .pt_plus_button.button-style-18 .button-link-wrap::after,
.elementor-163 .elementor-element.elementor-element-046670c .pt_plus_button.button-style-19 .button-link-wrap,
.elementor-163 .elementor-element.elementor-element-046670c .pt_plus_button.button-style-20 .button-link-wrap,
.elementor-163 .elementor-element.elementor-element-046670c .pt_plus_button.button-style-21 .button-link-wrap,
.elementor-163 .elementor-element.elementor-element-046670c .pt_plus_button.button-style-22 .button-link-wrap,
.elementor-163 .elementor-element.elementor-element-046670c .pt_plus_button.button-style-24 .button-link-wrap {
	border-radius: 999px 999px 999px 999px;
}

.elementor-163 .elementor-element.elementor-element-046670c .pt_plus_button.button-style-2 .button-link-wrap i,
.elementor-163 .elementor-element.elementor-element-046670c .pt_plus_button.button-style-4 .button-link-wrap,
.elementor-163 .elementor-element.elementor-element-046670c .pt_plus_button.button-style-5 .button-link-wrap,
.elementor-163 .elementor-element.elementor-element-046670c .pt_plus_button.button-style-8 .button-link-wrap,
.elementor-163 .elementor-element.elementor-element-046670c .pt_plus_button.button-style-10 .button-link-wrap,
.elementor-163 .elementor-element.elementor-element-046670c .pt_plus_button.button-style-11 .button-link-wrap,
.elementor-163 .elementor-element.elementor-element-046670c .pt_plus_button.button-style-12 .button-link-wrap,
.elementor-163 .elementor-element.elementor-element-046670c .pt_plus_button.button-style-13 .button-link-wrap,
.elementor-163 .elementor-element.elementor-element-046670c .pt_plus_button.button-style-14 .button-link-wrap,
.elementor-163 .elementor-element.elementor-element-046670c .pt_plus_button.button-style-15 .button-link-wrap,
.elementor-163 .elementor-element.elementor-element-046670c .pt_plus_button.button-style-16 .button-link-wrap,
.elementor-163 .elementor-element.elementor-element-046670c .pt_plus_button.button-style-17 .button-link-wrap,
.elementor-163 .elementor-element.elementor-element-046670c .pt_plus_button.button-style-18 .button-link-wrap,
.elementor-163 .elementor-element.elementor-element-046670c .pt_plus_button.button-style-19 .button-link-wrap,
.elementor-163 .elementor-element.elementor-element-046670c .pt_plus_button.button-style-20 .button-link-wrap,
.elementor-163 .elementor-element.elementor-element-046670c .pt_plus_button.button-style-21 .button-link-wrap,
.elementor-163 .elementor-element.elementor-element-046670c .pt_plus_button.button-style-22 .button-link-wrap,
.elementor-163 .elementor-element.elementor-element-046670c .pt_plus_button.button-style-24 .button-link-wrap {
	box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5);
}

.elementor-163 .elementor-element.elementor-element-046670c .pt_plus_button .button-link-wrap:hover,
.elementor-163 .elementor-element.elementor-element-046670c .pt_plus_button.button-style-17 .button-link-wrap .btn-icon,
.elementor-163 .elementor-element.elementor-element-046670c .pt_plus_button.button-style-22 .button-link-wrap .btn-icon {
	color: var(--e-global-color-c1ca899);
}

.elementor-163 .elementor-element.elementor-element-046670c .pt_plus_button .button-link-wrap:hover svg,
.elementor-163 .elementor-element.elementor-element-046670c .pt_plus_button.button-style-17 .button-link-wrap .btn-icon svg,
.elementor-163 .elementor-element.elementor-element-046670c .pt_plus_button.button-style-22 .button-link-wrap .btn-icon svg,
.elementor-163 .elementor-element.elementor-element-046670c .pt_plus_button.button-style-11 .button-link-wrap svg,
.elementor-163 .elementor-element.elementor-element-046670c .pt_plus_button.button-style-14 .button-link-wrap svg {
	fill: var(--e-global-color-c1ca899);
}

.elementor-163 .elementor-element.elementor-element-046670c .pt_plus_button.button-style-11 .button-link-wrap::before,
.elementor-163 .elementor-element.elementor-element-046670c .pt_plus_button.button-style-14 .button-link-wrap::after {
	color: var(--e-global-color-c1ca899);
}

.elementor-163 .elementor-element.elementor-element-046670c .pt_plus_button.button-style-3 .button-link-wrap:hover .arrow-1 * {
	fill: var(--e-global-color-c1ca899);
	stroke: var(--e-global-color-c1ca899);
}

.elementor-163 .elementor-element.elementor-element-046670c .pt_plus_button.button-style-4 .button-link-wrap:hover,
.elementor-163 .elementor-element.elementor-element-046670c .pt_plus_button.button-style-5 .button-link-wrap:hover,
.elementor-163 .elementor-element.elementor-element-046670c .pt_plus_button.button-style-8 .button-link-wrap:hover,
.elementor-163 .elementor-element.elementor-element-046670c .pt_plus_button.button-style-10 .button-link-wrap:hover,
.elementor-163 .elementor-element.elementor-element-046670c .pt_plus_button.button-style-11 .button-link-wrap:hover,
.elementor-163 .elementor-element.elementor-element-046670c .pt_plus_button.button-style-12 .button-link-wrap:hover,
.elementor-163 .elementor-element.elementor-element-046670c .pt_plus_button.button-style-13 .button-link-wrap:hover,
.elementor-163 .elementor-element.elementor-element-046670c .pt_plus_button.button-style-14 .button-link-wrap:hover,
.elementor-163 .elementor-element.elementor-element-046670c .pt_plus_button.button-style-16 .button-link-wrap:hover,
.elementor-163 .elementor-element.elementor-element-046670c .pt_plus_button.button-style-17 .button-link-wrap:hover,
.elementor-163 .elementor-element.elementor-element-046670c .pt_plus_button.button-style-19 .button-link-wrap:hover,
.elementor-163 .elementor-element.elementor-element-046670c .pt_plus_button.button-style-20 .button-link-wrap:hover,
.elementor-163 .elementor-element.elementor-element-046670c .pt_plus_button.button-style-21 .button-link-wrap:hover,
.elementor-163 .elementor-element.elementor-element-046670c .pt_plus_button.button-style-22 .button-link-wrap:hover,
.elementor-163 .elementor-element.elementor-element-046670c .pt_plus_button.button-style-24 .button-link-wrap:hover {
	border-style: none;
}

.elementor-163 .elementor-element.elementor-element-046670c .pt_plus_button.button-style-4 .button-link-wrap:hover,
.elementor-163 .elementor-element.elementor-element-046670c .pt_plus_button.button-style-8 .button-link-wrap:hover,
.elementor-163 .elementor-element.elementor-element-046670c .pt_plus_button.button-style-10 .button-link-wrap:hover,
.elementor-163 .elementor-element.elementor-element-046670c .pt_plus_button.button-style-11 .button-link-wrap:hover,
.elementor-163 .elementor-element.elementor-element-046670c .pt_plus_button.button-style-12 .button-link-wrap:hover,
.elementor-163 .elementor-element.elementor-element-046670c .pt_plus_button.button-style-13 .button-link-wrap:hover,
.elementor-163 .elementor-element.elementor-element-046670c .pt_plus_button.button-style-14 .button-link-wrap:hover,
.elementor-163 .elementor-element.elementor-element-046670c .pt_plus_button.button-style-16 .button-link-wrap:hover,
.elementor-163 .elementor-element.elementor-element-046670c .pt_plus_button.button-style-17 .button-link-wrap:hover,
.elementor-163 .elementor-element.elementor-element-046670c .pt_plus_button.button-style-19 .button-link-wrap:hover,
.elementor-163 .elementor-element.elementor-element-046670c .pt_plus_button.button-style-20 .button-link-wrap:hover,
.elementor-163 .elementor-element.elementor-element-046670c .pt_plus_button.button-style-21 .button-link-wrap:hover,
.elementor-163 .elementor-element.elementor-element-046670c .pt_plus_button.button-style-22 .button-link-wrap:hover,
.elementor-163 .elementor-element.elementor-element-046670c .pt_plus_button.button-style-24 .button-link-wrap:hover {
	border-radius: 999px 999px 999px 999px;
}

.elementor-163 .elementor-element.elementor-element-39fb6620 {
	--display: flex;
	--flex-direction: row;
	--container-widget-width: initial;
	--container-widget-height: 100%;
	--container-widget-flex-grow: 1;
	--container-widget-align-self: stretch;
	--flex-wrap-mobile: wrap;
	--background-transition: 0.3s;
	--padding-top: 144px;
	--padding-bottom: 80px;
	--padding-left: 0px;
	--padding-right: 0px;
}

.elementor-163 .elementor-element.elementor-element-39fb6620:not(.elementor-motion-effects-element-type-background),
.elementor-163 .elementor-element.elementor-element-39fb6620>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-color: var(--e-global-color-375b362);
}

.elementor-163 .elementor-element.elementor-element-39fb6620,
.elementor-163 .elementor-element.elementor-element-39fb6620::before {
	--border-transition: 0.3s;
}

.elementor-163 .elementor-element.elementor-element-73bf612a {
	--display: flex;
	--flex-direction: row;
	--container-widget-width: initial;
	--container-widget-height: 100%;
	--container-widget-flex-grow: 1;
	--container-widget-align-self: stretch;
	--flex-wrap-mobile: wrap;
	--background-transition: 0.3s;
	--padding-top: 0px;
	--padding-bottom: 0px;
	--padding-left: 0px;
	--padding-right: 0px;
}

.elementor-163 .elementor-element.elementor-element-33bbc7f6 {
	--display: flex;
	--background-transition: 0.3s;
	--margin-top: 0px;
	--margin-bottom: 0px;
	--margin-left: 0px;
	--margin-right: 57px;
	--padding-top: 0px;
	--padding-bottom: 0px;
	--padding-left: 0px;
	--padding-right: 0px;
}

.elementor-163 .elementor-element.elementor-element-49f3f9de>.elementor-widget-container {
	margin: 0px 0px 0px 0px;
}

.elementor-163 .elementor-element.elementor-element-49f3f9de {
	text-align: left;
}

.elementor-163 .elementor-element.elementor-element-49f3f9de img {
	width: 65%;
}

.elementor-163 .elementor-element.elementor-element-37e36069>.elementor-widget-container {
	margin: 0px 0px -13px 0px;
}

.elementor-163 .elementor-element.elementor-element-37e36069 {
	color: var(--e-global-color-d6855dd);
}

.elementor-163 .elementor-element.elementor-element-2c250ce {
	--display: flex;
	--flex-direction: row;
	--container-widget-width: initial;
	--container-widget-height: 100%;
	--container-widget-flex-grow: 1;
	--container-widget-align-self: stretch;
	--flex-wrap-mobile: wrap;
	--background-transition: 0.3s;
	--padding-top: 0px;
	--padding-bottom: 0px;
	--padding-left: 0px;
	--padding-right: 0px;
}

.elementor-163 .elementor-element.elementor-element-54cb70bf {
	--display: flex;
	--background-transition: 0.3s;
	--padding-top: 0px;
	--padding-bottom: 0px;
	--padding-left: 0px;
	--padding-right: 0px;
}

.elementor-163 .elementor-element.elementor-element-4b87230b>.elementor-widget-container {
	margin: 0px 0px -1px 0px;
}

.elementor-163 .elementor-element.elementor-element-4b87230b .elementor-heading-title {
	color: var(--e-global-color-d63c272);
}

.elementor-163 .elementor-element.elementor-element-6c2a506c .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
	padding-bottom: calc(8px/2);
}

.elementor-163 .elementor-element.elementor-element-6c2a506c .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
	margin-top: calc(8px/2);
}

.elementor-163 .elementor-element.elementor-element-6c2a506c .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
	margin-right: calc(8px/2);
	margin-left: calc(8px/2);
}

.elementor-163 .elementor-element.elementor-element-6c2a506c .elementor-icon-list-items.elementor-inline-items {
	margin-right: calc(-8px/2);
	margin-left: calc(-8px/2);
}

body.rtl .elementor-163 .elementor-element.elementor-element-6c2a506c .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
	left: calc(-8px/2);
}

body:not(.rtl) .elementor-163 .elementor-element.elementor-element-6c2a506c .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
	right: calc(-8px/2);
}

.elementor-163 .elementor-element.elementor-element-6c2a506c .elementor-icon-list-icon i {
	transition: color 0.3s;
}

.elementor-163 .elementor-element.elementor-element-6c2a506c .elementor-icon-list-icon svg {
	transition: fill 0.3s;
}

.elementor-163 .elementor-element.elementor-element-6c2a506c {
	--e-icon-list-icon-size: 14px;
	--icon-vertical-offset: 0px;
}

.elementor-163 .elementor-element.elementor-element-6c2a506c .elementor-icon-list-text {
	color: var(--e-global-color-d6855dd);
	transition: color 0.3s;
}

.elementor-163 .elementor-element.elementor-element-6c2a506c .elementor-icon-list-item:hover .elementor-icon-list-text {
	color: var(--e-global-color-3739bad);
}

.elementor-163 .elementor-element.elementor-element-27924d44 {
	--display: flex;
	--background-transition: 0.3s;
	--padding-top: 0px;
	--padding-bottom: 0px;
	--padding-left: 0px;
	--padding-right: 0px;
}

.elementor-163 .elementor-element.elementor-element-520c7de2>.elementor-widget-container {
	margin: 0px 0px -1px 0px;
}

.elementor-163 .elementor-element.elementor-element-520c7de2 .elementor-heading-title {
	color: var(--e-global-color-d63c272);
}

.elementor-163 .elementor-element.elementor-element-36ebb440 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
	padding-bottom: calc(8px/2);
}

.elementor-163 .elementor-element.elementor-element-36ebb440 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
	margin-top: calc(8px/2);
}

.elementor-163 .elementor-element.elementor-element-36ebb440 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
	margin-right: calc(8px/2);
	margin-left: calc(8px/2);
}

.elementor-163 .elementor-element.elementor-element-36ebb440 .elementor-icon-list-items.elementor-inline-items {
	margin-right: calc(-8px/2);
	margin-left: calc(-8px/2);
}

body.rtl .elementor-163 .elementor-element.elementor-element-36ebb440 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
	left: calc(-8px/2);
}

body:not(.rtl) .elementor-163 .elementor-element.elementor-element-36ebb440 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
	right: calc(-8px/2);
}

.elementor-163 .elementor-element.elementor-element-36ebb440 .elementor-icon-list-icon i {
	transition: color 0.3s;
}

.elementor-163 .elementor-element.elementor-element-36ebb440 .elementor-icon-list-icon svg {
	transition: fill 0.3s;
}

.elementor-163 .elementor-element.elementor-element-36ebb440 {
	--e-icon-list-icon-size: 14px;
	--icon-vertical-offset: 0px;
}

.elementor-163 .elementor-element.elementor-element-36ebb440 .elementor-icon-list-text {
	color: var(--e-global-color-d6855dd);
	transition: color 0.3s;
}

.elementor-163 .elementor-element.elementor-element-36ebb440 .elementor-icon-list-item:hover .elementor-icon-list-text {
	color: var(--e-global-color-3739bad);
}

.elementor-163 .elementor-element.elementor-element-56793fc {
	--display: flex;
	--background-transition: 0.3s;
	--padding-top: 0px;
	--padding-bottom: 0px;
	--padding-left: 0px;
	--padding-right: 0px;
}

.elementor-163 .elementor-element.elementor-element-326dfd31>.elementor-widget-container {
	margin: 0px 0px -1px 0px;
}

.elementor-163 .elementor-element.elementor-element-326dfd31 .elementor-heading-title {
	color: var(--e-global-color-d63c272);
}

.elementor-163 .elementor-element.elementor-element-73cf5aff .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
	padding-bottom: calc(8px/2);
}

.elementor-163 .elementor-element.elementor-element-73cf5aff .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
	margin-top: calc(8px/2);
}

.elementor-163 .elementor-element.elementor-element-73cf5aff .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
	margin-right: calc(8px/2);
	margin-left: calc(8px/2);
}

.elementor-163 .elementor-element.elementor-element-73cf5aff .elementor-icon-list-items.elementor-inline-items {
	margin-right: calc(-8px/2);
	margin-left: calc(-8px/2);
}

body.rtl .elementor-163 .elementor-element.elementor-element-73cf5aff .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
	left: calc(-8px/2);
}

body:not(.rtl) .elementor-163 .elementor-element.elementor-element-73cf5aff .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
	right: calc(-8px/2);
}

.elementor-163 .elementor-element.elementor-element-73cf5aff .elementor-icon-list-icon i {
	color: var(--e-global-color-3739bad);
	transition: color 0.3s;
}

.elementor-163 .elementor-element.elementor-element-73cf5aff .elementor-icon-list-icon svg {
	fill: var(--e-global-color-3739bad);
	transition: fill 0.3s;
}

.elementor-163 .elementor-element.elementor-element-73cf5aff {
	--e-icon-list-icon-size: 14px;
	--icon-vertical-offset: 0px;
}

.elementor-163 .elementor-element.elementor-element-73cf5aff .elementor-icon-list-text {
	color: var(--e-global-color-d6855dd);
	transition: color 0.3s;
}

.elementor-163 .elementor-element.elementor-element-73cf5aff .elementor-icon-list-item:hover .elementor-icon-list-text {
	color: var(--e-global-color-d6855dd);
}

.elementor-163 .elementor-element.elementor-element-6d7cb661 {
	--display: flex;
	--flex-direction: row;
	--container-widget-width: initial;
	--container-widget-height: 100%;
	--container-widget-flex-grow: 1;
	--container-widget-align-self: stretch;
	--flex-wrap-mobile: wrap;
	--background-transition: 0.3s;
	--padding-top: 10px;
	--padding-bottom: 10px;
	--padding-left: 0px;
	--padding-right: 0px;
}

.elementor-163 .elementor-element.elementor-element-6d7cb661:not(.elementor-motion-effects-element-type-background),
.elementor-163 .elementor-element.elementor-element-6d7cb661>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-color: transparent;
	background-image: linear-gradient(132deg, var(--e-global-color-d63c272) 0%, var(--e-global-color-3739bad) 100%);
}

.elementor-163 .elementor-element.elementor-element-6d7cb661,
.elementor-163 .elementor-element.elementor-element-6d7cb661::before {
	--border-transition: 0.3s;
}

.elementor-163 .elementor-element.elementor-element-171f99a3 {
	--display: flex;
	--background-transition: 0.3s;
	--padding-top: 0px;
	--padding-bottom: 0px;
	--padding-left: 0px;
	--padding-right: 0px;
}

.elementor-163 .elementor-element.elementor-element-c253bc5>.elementor-widget-container {
	margin: 0px 0px -16px 0px;
}

.elementor-163 .elementor-element.elementor-element-c253bc5 {
	text-align: center;
	color: var(--e-global-color-c1ca899);
}

.elementor-theme-builder-content-area {
	height: 400px;
}

.elementor-location-header:before,
.elementor-location-footer:before {
	content: "";
	display: table;
	clear: both;
}

@media(max-width:1024px) {
	.elementor-163 .elementor-element.elementor-element-62e1ea8 {
		--padding-top: 80px;
		--padding-bottom: 0px;
		--padding-left: 30px;
		--padding-right: 30px;
	}

	.elementor-163 .elementor-element.elementor-element-046670c .pt_plus_button:not(.button-style-11):not(.button-style-17) .button-link-wrap,
	.elementor-163 .elementor-element.elementor-element-046670c .pt_plus_button.button-style-11 .button-link-wrap>span,
	.elementor-163 .elementor-element.elementor-element-046670c .pt_plus_button.button-style-11 .button-link-wrap::before,
	.elementor-163 .elementor-element.elementor-element-046670c .pt_plus_button.button-style-17 .button-link-wrap>span {
		padding: 12px 30px 14px 30px;
	}

	.elementor-163 .elementor-element.elementor-element-39fb6620 {
		--padding-top: 150px;
		--padding-bottom: 80px;
		--padding-left: 30px;
		--padding-right: 30px;
	}

	.elementor-163 .elementor-element.elementor-element-33bbc7f6 {
		--margin-top: 0px;
		--margin-bottom: 0px;
		--margin-left: 0px;
		--margin-right: 31px;
	}

	.elementor-163 .elementor-element.elementor-element-49f3f9de>.elementor-widget-container {
		margin: 0px 0px -8px -5px;
	}

	.elementor-163 .elementor-element.elementor-element-49f3f9de img {
		width: 93%;
	}

	.elementor-163 .elementor-element.elementor-element-6d7cb661 {
		--padding-top: 10px;
		--padding-bottom: 10px;
		--padding-left: 30px;
		--padding-right: 30px;
	}
}

@media(max-width:767px) {
	.elementor-163 .elementor-element.elementor-element-62e1ea8 {
		--margin-top: 0px;
		--margin-bottom: -170px;
		--margin-left: 0px;
		--margin-right: 0px;
		--padding-top: 80px;
		--padding-bottom: 0px;
		--padding-left: 20px;
		--padding-right: 20px;
	}

	.elementor-163 .elementor-element.elementor-element-39961b27>.elementor-widget-container {
		margin: 0px 0px 0px 0px;
	}

	.elementor-163 .elementor-element.elementor-element-39961b27 {
		text-align: left;
	}

	.elementor-163 .elementor-element.elementor-element-39fb6620 {
		--padding-top: 126px;
		--padding-bottom: 80px;
		--padding-left: 20px;
		--padding-right: 20px;
	}

	.elementor-163 .elementor-element.elementor-element-33bbc7f6 {
		--margin-top: 0px;
		--margin-bottom: 30px;
		--margin-left: 0px;
		--margin-right: 0px;
	}

	.elementor-163 .elementor-element.elementor-element-49f3f9de {
		text-align: left;
	}

	.elementor-163 .elementor-element.elementor-element-49f3f9de img {
		width: 100%;
		max-width: 12rem;
	}

	.elementor-163 .elementor-element.elementor-element-37e36069 {
		text-align: left;
	}

	.elementor-163 .elementor-element.elementor-element-54cb70bf {
		--margin-top: 0px;
		--margin-bottom: 20px;
		--margin-left: 0px;
		--margin-right: 0px;
	}

	.elementor-163 .elementor-element.elementor-element-4b87230b {
		text-align: left;
	}

	.elementor-163 .elementor-element.elementor-element-27924d44 {
		--margin-top: 0px;
		--margin-bottom: 20px;
		--margin-left: 0px;
		--margin-right: 0px;
	}

	.elementor-163 .elementor-element.elementor-element-520c7de2 {
		text-align: left;
	}

	.elementor-163 .elementor-element.elementor-element-326dfd31 {
		text-align: left;
	}

	.elementor-163 .elementor-element.elementor-element-6d7cb661 {
		--padding-top: 10px;
		--padding-bottom: 10px;
		--padding-left: 20px;
		--padding-right: 20px;
	}
}

@media(min-width:768px) {
	.elementor-163 .elementor-element.elementor-element-3855c35f {
		--width: 80%;
	}

	.elementor-163 .elementor-element.elementor-element-33bbc7f6 {
		--width: 33%;
	}

	.elementor-163 .elementor-element.elementor-element-54cb70bf {
		--width: 69%;
	}

	.elementor-163 .elementor-element.elementor-element-27924d44 {
		--width: 86%;
	}

	.elementor-163 .elementor-element.elementor-element-56793fc {
		--width: 81%;
	}
}

@media(max-width:1024px) and (min-width:768px) {
	.elementor-163 .elementor-element.elementor-element-54cb70bf {
		--width: 38%;
	}

	.elementor-163 .elementor-element.elementor-element-27924d44 {
		--width: 67%;
	}
}