.elementor-125 .elementor-element.elementor-element-410a505 {
  --display: flex;
  --flex-direction: row;
  --container-widget-width: initial;
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --flex-wrap-mobile: wrap;
  --background-transition: 0.3s;
  --overlay-opacity: 0.39;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 0px;
  --padding-right: 0px;
}

.elementor-125 .elementor-element.elementor-element-410a505:not(.elementor-motion-effects-element-type-background),
.elementor-125 .elementor-element.elementor-element-410a505>.elementor-motion-effects-container>.elementor-motion-effects-layer {
  background-image: url("../../2025/12/Wolf Gold-bg-2023.webp");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.elementor-125 .elementor-element.elementor-element-410a505::before,
.elementor-125 .elementor-element.elementor-element-410a505>.elementor-background-video-container::before,
.elementor-125 .elementor-element.elementor-element-410a505>.e-con-inner>.elementor-background-video-container::before,
.elementor-125 .elementor-element.elementor-element-410a505>.elementor-background-slideshow::before,
.elementor-125 .elementor-element.elementor-element-410a505>.e-con-inner>.elementor-background-slideshow::before,
.elementor-125 .elementor-element.elementor-element-410a505>.elementor-motion-effects-container>.elementor-motion-effects-layer::before {
  background-color: var(--e-global-color-c1ca899);
  --background-overlay: '';
}

.elementor-125 .elementor-element.elementor-element-410a505,
.elementor-125 .elementor-element.elementor-element-410a505::before {
  --border-transition: 0.3s;
}

.elementor-125 .elementor-element.elementor-element-ad5b019 {
  --display: flex;
  --flex-direction: row;
  --container-widget-width: initial;
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --flex-wrap-mobile: wrap;
  --background-transition: 0.3s;
  --padding-top: 200px;
  --padding-bottom: 100px;
  --padding-left: 0px;
  --padding-right: 0px;
}

.elementor-125 .elementor-element.elementor-element-ad5b019:not(.elementor-motion-effects-element-type-background),
.elementor-125 .elementor-element.elementor-element-ad5b019>.elementor-motion-effects-container>.elementor-motion-effects-layer {
  background-color: transparent;
  background-image: linear-gradient(180deg, var(--e-global-color-e696530) 0%, var(--e-global-color-c1ca899) 100%);
}

.elementor-125 .elementor-element.elementor-element-ad5b019,
.elementor-125 .elementor-element.elementor-element-ad5b019::before {
  --border-transition: 0.3s;
}

.elementor-125 .elementor-element.elementor-element-3abe31a {
  --display: flex;
  --flex-direction: row;
  --container-widget-width: initial;
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --flex-wrap-mobile: wrap;
  --background-transition: 0.3s;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 0px;
  --padding-right: 0px;
}

.elementor-125 .elementor-element.elementor-element-421eefa {
  --display: flex;
  --align-items: center;
  --container-widget-width: calc((1 - var(--container-widget-flex-grow)) * 100%);
  --background-transition: 0.3s;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 0px;
  --padding-right: 0px;
}

.elementor-125 .elementor-element.elementor-element-9386f91 {
  --display: flex;
  --flex-direction: row;
  --container-widget-width: calc((1 - var(--container-widget-flex-grow)) * 100%);
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --flex-wrap-mobile: wrap;
  --justify-content: center;
  --align-items: center;
  --background-transition: 0.3s;
  border-style: solid;
  --border-style: solid;
  border-width: 1px 1px 1px 1px;
  --border-top-width: 1px;
  --border-right-width: 1px;
  --border-bottom-width: 1px;
  --border-left-width: 1px;
  border-color: var(--e-global-color-8422361);
  --border-color: var(--e-global-color-8422361);
  --border-radius: 999px 999px 999px 999px;
  --padding-top: 13px;
  --padding-bottom: 13px;
  --padding-left: 0px;
  --padding-right: 0px;
}

.elementor-125 .elementor-element.elementor-element-9386f91:not(.elementor-motion-effects-element-type-background),
.elementor-125 .elementor-element.elementor-element-9386f91>.elementor-motion-effects-container>.elementor-motion-effects-layer {
  background-color: var(--e-global-color-8422361);
}

.elementor-125 .elementor-element.elementor-element-9386f91,
.elementor-125 .elementor-element.elementor-element-9386f91::before {
  --border-transition: 0.3s;
}

.elementor-125 .elementor-element.elementor-element-a2e1542 .elementor-button {
  background-color: transparent;
  fill: var(--e-global-color-d63c272);
  color: var(--e-global-color-d63c272);
  background-image: linear-gradient(180deg, var(--e-global-color-e696530) 0%, var(--e-global-color-e696530) 100%);
  padding: 0px 0px 0px 0px;
}

.elementor-125 .elementor-element.elementor-element-a2e1542 .elementor-button-content-wrapper {
  flex-direction: row-reverse;
}

.elementor-125 .elementor-element.elementor-element-a2e1542 .elementor-button:hover,
.elementor-125 .elementor-element.elementor-element-a2e1542 .elementor-button:focus {
  color: var(--e-global-color-d6855dd);
}

.elementor-125 .elementor-element.elementor-element-a2e1542 .elementor-button:hover svg,
.elementor-125 .elementor-element.elementor-element-a2e1542 .elementor-button:focus svg {
  fill: var(--e-global-color-d6855dd);
}

.elementor-125 .elementor-element.elementor-element-67da9ea .elementor-button {
  background-color: transparent;
  fill: var(--e-global-color-d6855dd);
  color: var(--e-global-color-d6855dd);
  background-image: linear-gradient(180deg, var(--e-global-color-e696530) 0%, var(--e-global-color-e696530) 100%);
  padding: 0px 0px 0px 0px;
}

.elementor-125 .elementor-element.elementor-element-67da9ea .elementor-button:hover,
.elementor-125 .elementor-element.elementor-element-67da9ea .elementor-button:focus {
  color: var(--e-global-color-d6855dd);
}

.elementor-125 .elementor-element.elementor-element-67da9ea .elementor-button:hover svg,
.elementor-125 .elementor-element.elementor-element-67da9ea .elementor-button:focus svg {
  fill: var(--e-global-color-d6855dd);
}

.elementor-125 .elementor-element.elementor-element-f6c82e4 {
  --display: flex;
  --flex-direction: row;
  --container-widget-width: initial;
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --flex-wrap-mobile: wrap;
  --background-transition: 0.3s;
  --padding-top: 50px;
  --padding-bottom: 50px;
  --padding-left: 0px;
  --padding-right: 0px;
}

.elementor-125 .elementor-element.elementor-element-059bc12 {
  --display: flex;
  --flex-direction: row;
  --container-widget-width: initial;
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --flex-wrap-mobile: wrap;
  --background-transition: 0.3s;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 0px;
  --padding-right: 0px;
}

.elementor-125 .elementor-element.elementor-element-5295314 {
  --display: flex;
  --justify-content: center;
  --background-transition: 0.3s;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 0px;
  --padding-right: 0px;
}

.elementor-125 .elementor-element.elementor-element-351624e {
  --grid-row-gap: 35px;
  --grid-column-gap: 30px;
}

.elementor-125 .elementor-element.elementor-element-351624e .elementor-post__thumbnail__link {
  display: block;
  height: fit-content;
  width: 100%;
}

.elementor-125 .elementor-element.elementor-element-351624e .elementor-post__meta-data span+span:before {
  content: "•";
}

.elementor-125 .elementor-element.elementor-element-351624e .elementor-post__card {
  background-color: var(--e-global-color-9706797);
  padding: 1rem;
}

.elementor-125 .elementor-element.elementor-element-351624e .elementor-post__text {
  margin-top: 20px;
}

@media(max-width:1024px) {
  .elementor-125 .elementor-element.elementor-element-ad5b019 {
    --padding-top: 250px;
    --padding-bottom: 100px;
    --padding-left: 30px;
    --padding-right: 30px;
  }

  .elementor-125 .elementor-element.elementor-element-f6c82e4 {
    --padding-top: 50px;
    --padding-bottom: 100px;
    --padding-left: 30px;
    --padding-right: 30px;
  }

  .elementor-125 .elementor-element.elementor-element-059bc12 {
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
  }

  .elementor-125 .elementor-element.elementor-element-5295314 {
    --margin-top: 0px;
    --margin-bottom: 30px;
    --margin-left: 0px;
    --margin-right: 0px;
  }
}

@media(max-width:767px) {

  .elementor-125 .elementor-element.elementor-element-410a505:not(.elementor-motion-effects-element-type-background),
  .elementor-125 .elementor-element.elementor-element-410a505>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-position: center center;
  }

  .elementor-125 .elementor-element.elementor-element-ad5b019 {
    --padding-top: 170px;
    --padding-bottom: 20px;
    --padding-left: 20px;
    --padding-right: 20px;
  }

  .elementor-125 .elementor-element.elementor-element-421eefa {
    --align-items: flex-start;
    --container-widget-width: calc((1 - var(--container-widget-flex-grow)) * 100%);
  }

  .elementor-125 .elementor-element.elementor-element-9386f91 {
    --width: 87%;
    --justify-content: flex-start;
    --align-items: flex-start;
    --container-widget-width: calc((1 - var(--container-widget-flex-grow)) * 100%);
    --padding-top: 13px;
    --padding-bottom: 13px;
    --padding-left: 13px;
    --padding-right: 13px;
  }

  .elementor-125 .elementor-element.elementor-element-a2e1542.elementor-element {
    --align-self: center;
  }

  .elementor-125 .elementor-element.elementor-element-67da9ea.elementor-element {
    --align-self: center;
  }

  .elementor-125 .elementor-element.elementor-element-f6c82e4 {
    --padding-top: 20px;
    --padding-bottom: 20px;
    --padding-left: 20px;
    --padding-right: 20px;
  }

  .elementor-125 .elementor-element.elementor-element-351624e:after {
    content: "0.5";
  }

  .elementor-125 .elementor-element.elementor-element-351624e .elementor-post__thumbnail__link {
    width: 100%;
  }
}

@media(min-width:768px) {
  .elementor-125 .elementor-element.elementor-element-9386f91 {
    --width: 23%;
  }

  .elementor-125 .elementor-element.elementor-element-5295314 {
    --width: 100%;
  }
}

@media(max-width:1024px) and (min-width:768px) {
  .elementor-125 .elementor-element.elementor-element-9386f91 {
    --width: 40%;
  }

  .elementor-125 .elementor-element.elementor-element-5295314 {
    --width: 100%;
  }
}

.elementor-125 .elementor-element.elementor-element-351624e .elementor-post__card h3 {
  font-size: 1.2rem;
  line-height: 120%;
}