.elementor-116 .elementor-element.elementor-element-6f354f2 {
  --display: flex;
  --flex-direction: row;
  --container-widget-width: initial;
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --flex-wrap-mobile: wrap;
  --background-transition: 0.3s;
  --overlay-opacity: 0.39;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 0px;
  --padding-right: 0px;
}

.elementor-116 .elementor-element.elementor-element-6f354f2:not(.elementor-motion-effects-element-type-background),
.elementor-116 .elementor-element.elementor-element-6f354f2>.elementor-motion-effects-container>.elementor-motion-effects-layer {
  background-image: url("../../2025/12/editor_images_1526379116481-5752d7_95c017f74b764ad1893050c384c8ac95.jpg_srz_1848_1233_85_22_0.50_1.webp");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.elementor-116 .elementor-element.elementor-element-6f354f2::before,
.elementor-116 .elementor-element.elementor-element-6f354f2>.elementor-background-video-container::before,
.elementor-116 .elementor-element.elementor-element-6f354f2>.e-con-inner>.elementor-background-video-container::before,
.elementor-116 .elementor-element.elementor-element-6f354f2>.elementor-background-slideshow::before,
.elementor-116 .elementor-element.elementor-element-6f354f2>.e-con-inner>.elementor-background-slideshow::before,
.elementor-116 .elementor-element.elementor-element-6f354f2>.elementor-motion-effects-container>.elementor-motion-effects-layer::before {
  background-color: var(--e-global-color-c1ca899);
  --background-overlay: '';
}

.elementor-116 .elementor-element.elementor-element-6f354f2,
.elementor-116 .elementor-element.elementor-element-6f354f2::before {
  --border-transition: 0.3s;
}

.elementor-116 .elementor-element.elementor-element-755a103 {
  --display: flex;
  --flex-direction: row;
  --container-widget-width: initial;
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --flex-wrap-mobile: wrap;
  --background-transition: 0.3s;
  --padding-top: 200px;
  --padding-bottom: 100px;
  --padding-left: 0px;
  --padding-right: 0px;
}

.elementor-116 .elementor-element.elementor-element-755a103:not(.elementor-motion-effects-element-type-background),
.elementor-116 .elementor-element.elementor-element-755a103>.elementor-motion-effects-container>.elementor-motion-effects-layer {
  background-color: transparent;
  background-image: linear-gradient(180deg, var(--e-global-color-e696530) 0%, var(--e-global-color-c1ca899) 100%);
}

.elementor-116 .elementor-element.elementor-element-755a103,
.elementor-116 .elementor-element.elementor-element-755a103::before {
  --border-transition: 0.3s;
}

.elementor-116 .elementor-element.elementor-element-3c8f524 {
  --display: flex;
  --flex-direction: row;
  --container-widget-width: initial;
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --flex-wrap-mobile: wrap;
  --background-transition: 0.3s;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 0px;
  --padding-right: 0px;
}

.elementor-116 .elementor-element.elementor-element-cbc0d70 {
  --display: flex;
  --align-items: center;
  --container-widget-width: calc((1 - var(--container-widget-flex-grow)) * 100%);
  --background-transition: 0.3s;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 0px;
  --padding-right: 0px;
}

.elementor-116 .elementor-element.elementor-element-86695ad {
  --display: flex;
  --flex-direction: row;
  --container-widget-width: calc((1 - var(--container-widget-flex-grow)) * 100%);
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --flex-wrap-mobile: wrap;
  --justify-content: center;
  --align-items: center;
  --background-transition: 0.3s;
  border-style: solid;
  --border-style: solid;
  border-width: 1px 1px 1px 1px;
  --border-top-width: 1px;
  --border-right-width: 1px;
  --border-bottom-width: 1px;
  --border-left-width: 1px;
  border-color: var(--e-global-color-8422361);
  --border-color: var(--e-global-color-8422361);
  --border-radius: 999px 999px 999px 999px;
  --padding-top: 13px;
  --padding-bottom: 13px;
  --padding-left: 0px;
  --padding-right: 0px;
}

.elementor-116 .elementor-element.elementor-element-86695ad:not(.elementor-motion-effects-element-type-background),
.elementor-116 .elementor-element.elementor-element-86695ad>.elementor-motion-effects-container>.elementor-motion-effects-layer {
  background-color: var(--e-global-color-8422361);
}

.elementor-116 .elementor-element.elementor-element-86695ad,
.elementor-116 .elementor-element.elementor-element-86695ad::before {
  --border-transition: 0.3s;
}

.elementor-116 .elementor-element.elementor-element-7c50c24 .elementor-button {
  background-color: transparent;
  fill: var(--e-global-color-d63c272);
  color: var(--e-global-color-d63c272);
  background-image: linear-gradient(180deg, var(--e-global-color-e696530) 0%, var(--e-global-color-e696530) 100%);
  padding: 0px 0px 0px 0px;
}

.elementor-116 .elementor-element.elementor-element-7c50c24 .elementor-button-content-wrapper {
  flex-direction: row-reverse;
}

.elementor-116 .elementor-element.elementor-element-7c50c24 .elementor-button:hover,
.elementor-116 .elementor-element.elementor-element-7c50c24 .elementor-button:focus {
  color: var(--e-global-color-d6855dd);
}

.elementor-116 .elementor-element.elementor-element-7c50c24 .elementor-button:hover svg,
.elementor-116 .elementor-element.elementor-element-7c50c24 .elementor-button:focus svg {
  fill: var(--e-global-color-d6855dd);
}

.elementor-116 .elementor-element.elementor-element-adc1e2a .elementor-button {
  background-color: transparent;
  fill: var(--e-global-color-d6855dd);
  color: var(--e-global-color-d6855dd);
  background-image: linear-gradient(180deg, var(--e-global-color-e696530) 0%, var(--e-global-color-e696530) 100%);
  padding: 0px 0px 0px 0px;
}

.elementor-116 .elementor-element.elementor-element-adc1e2a .elementor-button:hover,
.elementor-116 .elementor-element.elementor-element-adc1e2a .elementor-button:focus {
  color: var(--e-global-color-d6855dd);
}

.elementor-116 .elementor-element.elementor-element-adc1e2a .elementor-button:hover svg,
.elementor-116 .elementor-element.elementor-element-adc1e2a .elementor-button:focus svg {
  fill: var(--e-global-color-d6855dd);
}

.elementor-116 .elementor-element.elementor-element-22fc7afc {
  --display: flex;
  --flex-direction: row;
  --container-widget-width: initial;
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --flex-wrap-mobile: wrap;
  --background-transition: 0.3s;
  --padding-top: 50px;
  --padding-bottom: 80px;
  --padding-left: 0px;
  --padding-right: 0px;
}

.elementor-116 .elementor-element.elementor-element-45f97e73 {
  --display: flex;
  --flex-direction: row;
  --container-widget-width: initial;
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --flex-wrap-mobile: wrap;
  --background-transition: 0.3s;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 0px;
  --padding-right: 0px;
}

.elementor-116 .elementor-element.elementor-element-597e00a6 {
  --display: flex;
  --background-transition: 0.3s;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 0px;
  --padding-right: 0px;
}

.elementor-116 .elementor-element.elementor-element-232db7ff {
  --display: flex;
  --overflow: hidden;
  --background-transition: 0.3s;
  --border-radius: 25px 25px 25px 25px;
  --margin-top: 0px;
  --margin-bottom: 10px;
  --margin-left: 0px;
  --margin-right: 0px;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 0px;
  --padding-right: 0px;
}

.elementor-116 .elementor-element.elementor-element-673391e2 iframe {
  height: 301px;
}

.elementor-116 .elementor-element.elementor-element-5864f2d7 {
  --display: flex;
  --flex-direction: column;
  --container-widget-width: 100%;
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --flex-wrap-mobile: wrap;
  --background-transition: 0.3s;
  --border-radius: 25px 25px 25px 25px;
  --padding-top: 20px;
  --padding-bottom: 20px;
  --padding-left: 20px;
  --padding-right: 20px;
}

.elementor-116 .elementor-element.elementor-element-5864f2d7:not(.elementor-motion-effects-element-type-background),
.elementor-116 .elementor-element.elementor-element-5864f2d7>.elementor-motion-effects-container>.elementor-motion-effects-layer {
  background-color: var(--e-global-color-375b362);
}

.elementor-116 .elementor-element.elementor-element-5864f2d7,
.elementor-116 .elementor-element.elementor-element-5864f2d7::before {
  --border-transition: 0.3s;
}

.elementor-116 .elementor-element.elementor-element-46a36c7a {
  --display: flex;
  --flex-direction: row;
  --container-widget-width: initial;
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --flex-wrap-mobile: wrap;
  --background-transition: 0.3s;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 0px;
  --padding-right: 0px;
}

.elementor-116 .elementor-element.elementor-element-661bf2 {
  --display: flex;
  --background-transition: 0.3s;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 0px;
  --padding-right: 0px;
}

.elementor-116 .elementor-element.elementor-element-32ef8ca4>.elementor-widget-container {
  margin: 0px 0px -5px 0px;
}

.elementor-116 .elementor-element.elementor-element-32ef8ca4 .elementor-icon-wrapper {
  text-align: left;
}

.elementor-116 .elementor-element.elementor-element-32ef8ca4.elementor-view-stacked .elementor-icon {
  background-color: var(--e-global-color-3739bad);
  color: var(--e-global-color-375b362);
}

.elementor-116 .elementor-element.elementor-element-32ef8ca4.elementor-view-framed .elementor-icon,
.elementor-116 .elementor-element.elementor-element-32ef8ca4.elementor-view-default .elementor-icon {
  color: var(--e-global-color-3739bad);
  border-color: var(--e-global-color-3739bad);
}

.elementor-116 .elementor-element.elementor-element-32ef8ca4.elementor-view-framed .elementor-icon,
.elementor-116 .elementor-element.elementor-element-32ef8ca4.elementor-view-default .elementor-icon svg {
  fill: var(--e-global-color-3739bad);
}

.elementor-116 .elementor-element.elementor-element-32ef8ca4.elementor-view-framed .elementor-icon {
  background-color: var(--e-global-color-375b362);
}

.elementor-116 .elementor-element.elementor-element-32ef8ca4.elementor-view-stacked .elementor-icon svg {
  fill: var(--e-global-color-375b362);
}

.elementor-116 .elementor-element.elementor-element-32ef8ca4 .elementor-icon {
  font-size: 23px;
}

.elementor-116 .elementor-element.elementor-element-32ef8ca4 .elementor-icon svg {
  height: 23px;
}

.elementor-116 .elementor-element.elementor-element-2514537f {
  --display: flex;
  --background-transition: 0.3s;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 0px;
  --padding-right: 0px;
}

.elementor-116 .elementor-element.elementor-element-6b3ec0c3>.elementor-widget-container {
  margin: 0px 0px -7px 0px;
}

.elementor-116 .elementor-element.elementor-element-58009594>.elementor-widget-container {
  margin: -4px 0px -13px 0px;
}

.elementor-116 .elementor-element.elementor-element-58009594 {
  color: var(--e-global-color-d6855dd);
}

.elementor-116 .elementor-element.elementor-element-38dea772 {
  --display: flex;
  --flex-direction: row;
  --container-widget-width: initial;
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --flex-wrap-mobile: wrap;
  --background-transition: 0.3s;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 0px;
  --padding-right: 0px;
}

.elementor-116 .elementor-element.elementor-element-58c3f702 {
  --display: flex;
  --background-transition: 0.3s;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 0px;
  --padding-right: 0px;
}

.elementor-116 .elementor-element.elementor-element-1afa2c08>.elementor-widget-container {
  margin: 0px 0px -5px 0px;
}

.elementor-116 .elementor-element.elementor-element-1afa2c08 .elementor-icon-wrapper {
  text-align: left;
}

.elementor-116 .elementor-element.elementor-element-1afa2c08.elementor-view-stacked .elementor-icon {
  background-color: var(--e-global-color-3739bad);
  color: var(--e-global-color-375b362);
}

.elementor-116 .elementor-element.elementor-element-1afa2c08.elementor-view-framed .elementor-icon,
.elementor-116 .elementor-element.elementor-element-1afa2c08.elementor-view-default .elementor-icon {
  color: var(--e-global-color-3739bad);
  border-color: var(--e-global-color-3739bad);
}

.elementor-116 .elementor-element.elementor-element-1afa2c08.elementor-view-framed .elementor-icon,
.elementor-116 .elementor-element.elementor-element-1afa2c08.elementor-view-default .elementor-icon svg {
  fill: var(--e-global-color-3739bad);
}

.elementor-116 .elementor-element.elementor-element-1afa2c08.elementor-view-framed .elementor-icon {
  background-color: var(--e-global-color-375b362);
}

.elementor-116 .elementor-element.elementor-element-1afa2c08.elementor-view-stacked .elementor-icon svg {
  fill: var(--e-global-color-375b362);
}

.elementor-116 .elementor-element.elementor-element-1afa2c08 .elementor-icon {
  font-size: 23px;
}

.elementor-116 .elementor-element.elementor-element-1afa2c08 .elementor-icon svg {
  height: 23px;
}

.elementor-116 .elementor-element.elementor-element-44a411c5 {
  --display: flex;
  --background-transition: 0.3s;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 0px;
  --padding-right: 0px;
}

.elementor-116 .elementor-element.elementor-element-6ff860ad>.elementor-widget-container {
  margin: 0px 0px -7px 0px;
}

.elementor-116 .elementor-element.elementor-element-66bb8604>.elementor-widget-container {
  margin: -4px 0px -13px 0px;
}

.elementor-116 .elementor-element.elementor-element-66bb8604 {
  color: var(--e-global-color-d6855dd);
}

.elementor-116 .elementor-element.elementor-element-38fe67a {
  --display: flex;
  --flex-direction: row;
  --container-widget-width: initial;
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --flex-wrap-mobile: wrap;
  --background-transition: 0.3s;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 0px;
  --padding-right: 0px;
}

.elementor-116 .elementor-element.elementor-element-937d868 {
  --display: flex;
  --background-transition: 0.3s;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 0px;
  --padding-right: 0px;
}

.elementor-116 .elementor-element.elementor-element-37ee8d3>.elementor-widget-container {
  margin: 0px 0px -5px 0px;
}

.elementor-116 .elementor-element.elementor-element-37ee8d3 .elementor-icon-wrapper {
  text-align: left;
}

.elementor-116 .elementor-element.elementor-element-37ee8d3.elementor-view-stacked .elementor-icon {
  background-color: var(--e-global-color-3739bad);
  color: var(--e-global-color-375b362);
}

.elementor-116 .elementor-element.elementor-element-37ee8d3.elementor-view-framed .elementor-icon,
.elementor-116 .elementor-element.elementor-element-37ee8d3.elementor-view-default .elementor-icon {
  color: var(--e-global-color-3739bad);
  border-color: var(--e-global-color-3739bad);
}

.elementor-116 .elementor-element.elementor-element-37ee8d3.elementor-view-framed .elementor-icon,
.elementor-116 .elementor-element.elementor-element-37ee8d3.elementor-view-default .elementor-icon svg {
  fill: var(--e-global-color-3739bad);
}

.elementor-116 .elementor-element.elementor-element-37ee8d3.elementor-view-framed .elementor-icon {
  background-color: var(--e-global-color-375b362);
}

.elementor-116 .elementor-element.elementor-element-37ee8d3.elementor-view-stacked .elementor-icon svg {
  fill: var(--e-global-color-375b362);
}

.elementor-116 .elementor-element.elementor-element-37ee8d3 .elementor-icon {
  font-size: 23px;
}

.elementor-116 .elementor-element.elementor-element-37ee8d3 .elementor-icon svg {
  height: 23px;
}

.elementor-116 .elementor-element.elementor-element-dd5ec6f {
  --display: flex;
  --background-transition: 0.3s;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 0px;
  --padding-right: 0px;
}

.elementor-116 .elementor-element.elementor-element-2fdfa98>.elementor-widget-container {
  margin: 0px 0px -7px 0px;
}

.elementor-116 .elementor-element.elementor-element-219a27a>.elementor-widget-container {
  margin: -4px 0px -13px 0px;
}

.elementor-116 .elementor-element.elementor-element-219a27a {
  color: var(--e-global-color-d6855dd);
}

.elementor-116 .elementor-element.elementor-element-69fc394 {
  --display: flex;
  --justify-content: center;
  --background-transition: 0.3s;
  border-style: solid;
  --border-style: solid;
  border-width: 1px 1px 1px 1px;
  --border-top-width: 1px;
  --border-right-width: 1px;
  --border-bottom-width: 1px;
  --border-left-width: 1px;
  border-color: var(--e-global-color-8422361);
  --border-color: var(--e-global-color-8422361);
  --border-radius: 25px 25px 25px 25px;
  --margin-top: 0px;
  --margin-bottom: 0px;
  --margin-left: 20px;
  --margin-right: 0px;
  --padding-top: 30px;
  --padding-bottom: 30px;
  --padding-left: 30px;
  --padding-right: 30px;
}

.elementor-116 .elementor-element.elementor-element-69fc394:not(.elementor-motion-effects-element-type-background),
.elementor-116 .elementor-element.elementor-element-69fc394>.elementor-motion-effects-container>.elementor-motion-effects-layer {
  background-color: var(--e-global-color-9706797);
}

.elementor-116 .elementor-element.elementor-element-69fc394,
.elementor-116 .elementor-element.elementor-element-69fc394::before {
  --border-transition: 0.3s;
}

.elementor-116 .elementor-element.elementor-element-3adeef70>.elementor-widget-container {
  margin: 0px 0px -7px 0px;
}

.elementor-116 .elementor-element.elementor-element-a382908 .elementor-field-group {
  padding-right: calc(10px/2);
  padding-left: calc(10px/2);
  margin-bottom: 10px;
}

.elementor-116 .elementor-element.elementor-element-a382908 .elementor-form-fields-wrapper {
  margin-left: calc(-10px/2);
  margin-right: calc(-10px/2);
  margin-bottom: -10px;
}

.elementor-116 .elementor-element.elementor-element-a382908 .elementor-field-group.recaptcha_v3-bottomleft,
.elementor-116 .elementor-element.elementor-element-a382908 .elementor-field-group.recaptcha_v3-bottomright {
  margin-bottom: 0;
}

body.rtl .elementor-116 .elementor-element.elementor-element-a382908 .elementor-labels-inline .elementor-field-group>label {
  padding-left: 0px;
}

body:not(.rtl) .elementor-116 .elementor-element.elementor-element-a382908 .elementor-labels-inline .elementor-field-group>label {
  padding-right: 0px;
}

body .elementor-116 .elementor-element.elementor-element-a382908 .elementor-labels-above .elementor-field-group>label {
  padding-bottom: 0px;
}

.elementor-116 .elementor-element.elementor-element-a382908 .elementor-field-type-html {
  padding-bottom: 0px;
}

.elementor-116 .elementor-element.elementor-element-a382908 .elementor-field-group:not(.elementor-field-type-upload) .elementor-field:not(.elementor-select-wrapper) {
  background-color: #ffffff;
}

.elementor-116 .elementor-element.elementor-element-a382908 .elementor-field-group .elementor-select-wrapper select {
  background-color: #ffffff;
}

.elementor-116 .elementor-element.elementor-element-a382908 .e-form__buttons__wrapper__button-next {
  color: #ffffff;
}

.elementor-116 .elementor-element.elementor-element-a382908 .elementor-button[type="submit"] {
  color: #ffffff;
}

.elementor-116 .elementor-element.elementor-element-a382908 .elementor-button[type="submit"] svg * {
  fill: #ffffff;
}

.elementor-116 .elementor-element.elementor-element-a382908 .e-form__buttons__wrapper__button-previous {
  color: #ffffff;
}

.elementor-116 .elementor-element.elementor-element-a382908 .e-form__buttons__wrapper__button-next:hover {
  color: #ffffff;
}

.elementor-116 .elementor-element.elementor-element-a382908 .elementor-button[type="submit"]:hover {
  color: #ffffff;
}

.elementor-116 .elementor-element.elementor-element-a382908 .elementor-button[type="submit"]:hover svg * {
  fill: #ffffff;
}

.elementor-116 .elementor-element.elementor-element-a382908 .e-form__buttons__wrapper__button-previous:hover {
  color: #ffffff;
}

.elementor-116 .elementor-element.elementor-element-a382908 {
  --e-form-steps-indicators-spacing: 20px;
  --e-form-steps-indicator-padding: 30px;
  --e-form-steps-indicator-inactive-secondary-color: #ffffff;
  --e-form-steps-indicator-active-secondary-color: #ffffff;
  --e-form-steps-indicator-completed-secondary-color: #ffffff;
  --e-form-steps-divider-width: 1px;
  --e-form-steps-divider-gap: 10px;
}

@media(max-width:1024px) {
  .elementor-116 .elementor-element.elementor-element-755a103 {
    --padding-top: 250px;
    --padding-bottom: 100px;
    --padding-left: 30px;
    --padding-right: 30px;
  }

  .elementor-116 .elementor-element.elementor-element-22fc7afc {
    --padding-top: 50px;
    --padding-bottom: 50px;
    --padding-left: 30px;
    --padding-right: 30px;
  }

  .elementor-116 .elementor-element.elementor-element-673391e2 iframe {
    height: 381px;
  }

  .elementor-116 .elementor-element.elementor-element-5864f2d7 {
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
  }

  .elementor-116 .elementor-element.elementor-element-661bf2 {
    --justify-content: center;
  }

  .elementor-116 .elementor-element.elementor-element-58c3f702 {
    --justify-content: center;
  }

  .elementor-116 .elementor-element.elementor-element-937d868 {
    --justify-content: center;
  }
}

@media(max-width:767px) {

  .elementor-116 .elementor-element.elementor-element-6f354f2:not(.elementor-motion-effects-element-type-background),
  .elementor-116 .elementor-element.elementor-element-6f354f2>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-position: center center;
  }

  .elementor-116 .elementor-element.elementor-element-755a103 {
    --padding-top: 170px;
    --padding-bottom: 20px;
    --padding-left: 20px;
    --padding-right: 20px;
  }

  .elementor-116 .elementor-element.elementor-element-cbc0d70 {
    --align-items: flex-start;
    --container-widget-width: calc((1 - var(--container-widget-flex-grow)) * 100%);
  }

  .elementor-116 .elementor-element.elementor-element-86695ad {
    --width: 87%;
    --justify-content: flex-start;
    --align-items: flex-start;
    --container-widget-width: calc((1 - var(--container-widget-flex-grow)) * 100%);
    --padding-top: 13px;
    --padding-bottom: 13px;
    --padding-left: 13px;
    --padding-right: 13px;
  }

  .elementor-116 .elementor-element.elementor-element-7c50c24.elementor-element {
    --align-self: center;
  }

  .elementor-116 .elementor-element.elementor-element-adc1e2a.elementor-element {
    --align-self: center;
  }

  .elementor-116 .elementor-element.elementor-element-22fc7afc {
    --padding-top: 50px;
    --padding-bottom: 50px;
    --padding-left: 20px;
    --padding-right: 20px;
  }

  .elementor-116 .elementor-element.elementor-element-5864f2d7 {
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
  }

  .elementor-116 .elementor-element.elementor-element-46a36c7a {
    --padding-top: 0px;
    --padding-bottom: 21px;
    --padding-left: 0px;
    --padding-right: 0px;
  }

  .elementor-116 .elementor-element.elementor-element-32ef8ca4 .elementor-icon-wrapper {
    text-align: left;
  }

  .elementor-116 .elementor-element.elementor-element-6b3ec0c3 {
    text-align: left;
  }

  .elementor-116 .elementor-element.elementor-element-58009594 {
    text-align: left;
  }

  .elementor-116 .elementor-element.elementor-element-1afa2c08 .elementor-icon-wrapper {
    text-align: left;
  }

  .elementor-116 .elementor-element.elementor-element-6ff860ad {
    text-align: left;
  }

  .elementor-116 .elementor-element.elementor-element-66bb8604 {
    text-align: left;
  }

  .elementor-116 .elementor-element.elementor-element-37ee8d3 .elementor-icon-wrapper {
    text-align: left;
  }

  .elementor-116 .elementor-element.elementor-element-2fdfa98 {
    text-align: left;
  }

  .elementor-116 .elementor-element.elementor-element-219a27a {
    text-align: left;
  }

  .elementor-116 .elementor-element.elementor-element-69fc394 {
    --margin-top: 29px;
    --margin-bottom: 30px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 35px;
    --padding-bottom: 20px;
    --padding-left: 20px;
    --padding-right: 20px;
  }

  .elementor-116 .elementor-element.elementor-element-3adeef70 {
    text-align: center;
  }
}

@media(min-width:768px) {
  .elementor-116 .elementor-element.elementor-element-86695ad {
    --width: 23%;
  }

  .elementor-116 .elementor-element.elementor-element-661bf2 {
    --width: 24%;
  }

  .elementor-116 .elementor-element.elementor-element-58c3f702 {
    --width: 24%;
  }

  .elementor-116 .elementor-element.elementor-element-937d868 {
    --width: 24%;
  }
}

@media(max-width:1024px) and (min-width:768px) {
  .elementor-116 .elementor-element.elementor-element-86695ad {
    --width: 40%;
  }
}